[user]
	name = Nick Worth
	email = nick.worth@raprec.com
	asana-key = yiRTB9J.MlGqEzOdxP51lPhM6H5JPCRT
[push]
	default = matching
[rebase]
	autosquash = true
[core]
	autocrlf = true
	excludesfile = C:\\Users\\nworth\\Documents\\gitignore_global.txt
[alias]
	st = status
	br = branch
	ci = commit -m
	co = checkout
	contain = branch --contains
	df = diff
	last = log -1 HEAD
	lg = log --graph --date-order --date=relative --pretty=format:\"%C(yellow)%h: %Cred - %an - %Cgreen %C(cyan)%ar:%Creset%n%s%n\" --color
	lg1 = log --graph --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)\" --abbrev-commit --date=relative
	lg2 = log --graph --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)\" --abbrev-commit
	mia = !sh -c 'git log -1 -- $1' -
	new = !sh -c \"git log $1@{1}..$1@{0} \"
	retry = reset --hard head
	undo = reset --soft HEAD^
	unstage = reset HEAD --
	visual = !gitk
	vlog = log --graph --date-order --date=relative --pretty=format:\"%C(cyan)%h: %Cblue - %an - %Cgreen %C(cyan)%ar:%Creset%n%s%n\" --color
	stashname = "stash save "
	stashapp = "!f() { git stash apply stash^{/$*}; }; f"
	stashdrop = "!f() { git stash drop $*; }; f"
[branch]
	auto-setuprebase = always
